<div>
  <h1>計算フォーム</h1>
</div>
<div>
  <%= form_with url: calculate_asset_formation_calc_index_path, local: :true do |f|%>
    <div>
      積立額(万円/月)
    </div>
    <div>
      <%= f.number_field :monthly_purchase %>
    </div>
    <div>
      何年後？
    </div>
    <div>
      <%= f.number_field :year_later %>
    </div>
    <div>
      期待年利(%)
    </div>
    <div>
      <%= f.number_field :annual_yield, value: 5 %>
    </div>
    <div>
      <%= f.submit "計算" %>
    </div>
  <% end %>
</div>
