<div>
  <h1>設定フォーム</h1>
</div>
<div>
  <%= form_with model: @asset_config, url: asset_config_index_path, local: :true do |f|%>
    <div>
      現在の資産(万円/月)
    </div>
    <div>
      <%= f.number_field :initial_asset %>
    </div>
    <div>
      月々の積立額(万円/月)
    </div>
    <div>
      <%= f.number_field :monthly_purchase %>
    </div>
    <div>
      期待年利(%)
    </div>
    <div>
      <%= f.number_field :annual_yield, value: 5 %>
    </div>
    <div>
      <%= f.submit "設定する" %>
    </div>
  <% end %>
</div>
