<div>
  <div>メニュー</div>
  <div>
    <% if  AssetConfig.exists?(AssetConfig.count) %>
      <%= link_to '設定', edit_asset_config_path(@asset_config) %>
    <% else %>
      <%= link_to '設定', new_asset_config_path %>
    <% end %>
  </div>
  <div>
    <% if  RetirementAssetCalc.exists?(RetirementAssetCalc.count) %>
      <%= link_to 'リタイア額計算用の設定', edit_retirement_asset_calc_path(@retirement_asset_calc) %>
    <% else %>
      <%= link_to 'リタイア額計算用の設定', new_retirement_asset_calc_path %>
    <% end %>
  </div>
  <div>
    <% if YieldConfig.exists?(YieldConfig.count) %>
      <%= link_to '期待利率の設定', edit_yield_config_path(@yield_config) %>
    <% else %>
      <%= link_to '期待利率の設定', new_yield_config_path %>
    <% end %>
  </div>
  <div>
    <%= link_to '積立額の算出', asset_formation_calc_index_path %>
  </div>

  <% unless user_signed_in? %>
    <h2>ログイン</h2>
    <%= form_for(@user, as: :user, url: session_path(:user)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
  <% end %>
</div>
